{% extends "base.html" %} 
{% load i18n %}

{% block content %}

<div class="alert alert-success {% if not messages %}hidden{% endif %}" role="alert" id='success-alert'> {% for message in messages %} {{ message }} {% endfor %}</div>


<div class="alert alert-warning {% if not form.errors %}hidden{% endif %}" role="alert" id='error-alert'>{% trans "Oh snap! Change a few things up and try submitting again." %}<p id='non-field-errors'>{% if form.errors %}{{ form.non_field_errors }}{% endif %}</p>
</div>


<form method="post" action="{% url 'add_note' %}" id="notesForm" class="form-horizontal col-md-6 col-xs-12">
    {% csrf_token %}
    <div class="form-group {% if form.text.errors %}has-error{% endif %}" id='text-field'>
        <label for="text">
            {% trans "Enter your text" %}
        </label>
        <textarea class="form-control" rows="5" name="text" id="text">{% if form.errors %}{{ form.text.value }}{% endif %}</textarea>
        <span id="errors" class="help-block">
        	{{ form.text.errors }}
        </span>
    </div>
    <button type="submit" class="btn btn btn-success">{% trans "Submit" %}</button>
</form>

{% endblock content %}