{% extends "base.html" %} 
{% load i18n %}
{% load custom_tag %}

{% block content %}
<div class="jumbotron">
<div class="page-header">
	<h1>{% trans 'List of text notes' %}</h1>
</div>
{% if object_list %}
	<ul>
	{% for note in object_list %}
		<div class="row">
			<div class="col-md-6">
				<table class="table">
					<tbody>   
						<tr>
							<td>{{ note.text }} {% if note.image %}<img src='{{ MEDIA_URL }}{{ note.image }}' height="200" width="200"/>{% endif %}</li></td>
						</tr>       
					</tbody>
				</table>
			</div>
		</div>
	{% endfor %}
	</ul>
{% else %}
<p>{% trans 'No text notes.' %}</p>
{% endif %}
</div>

{% endblock content %}